$green: #21ba45;
$red: #fc2020;
$orange: #f2711c;
$yellow: #f9f52f;
$blue: #2f50f9;
$teal: #00b5ad;
$violet: #6435c9;
$purple: #a333c8;
$pink: #f92f64;
$black: #1e1e1e;
$grey: #e0e0e0;

.white-text {
  color: white;
}

.green-text {
  color: $green;
}

.orange-text {
  color: $orange;
}

.yellow-text {
  color: $yellow;
}

.blue-text {
  color: $blue;
}

.teal-text {
  color: $teal;
}

.violet-text {
  color: $violet;
}

.purple-text {
  color: $purple;
}

.pink-text {
  color: $pink;
}

.black-text {
  color: $black;
}

.grey-text {
  color: $grey;
}

.white {
  background: white;
}

.green {
  background: $green;
}

.orange {
  background: $orange;
}

.yellow {
  background: $yellow;
}

.blue {
  background: $blue;
}

.teal {
  background: $teal;
}

.violet {
  background: $violet;
}

.purple {
  background: $purple;
}

.pink {
  background: $pink;
}

.black {
  background: $black;
}

.grey {
  background: $grey;
}
